3                     # Banyak kicauan sebanyak 3
1                     # ID kicauan 1
Halooo                # Text
12                    # Like
Tuan Bus              # Author
14/10/2023 11:09:18   # Datetime
2
Ini Tuan Bus
15
Tuan Man
14/10/2023 11:09:12
3
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
15
Tuan Man
14/10/2023 11:09:12