3            # Banyak pengguna
Tuan Hak     # Nama
passTuanHak  # Password
Ini bio lho  # Bio
081          # No HP
Pahing       # Weton
Privat       # Jenis akun
R * R * R * R * R * # Foto Profil
R * G @ B * G @ R *
R * G @ G @ G @ R *
R * G @ B * G @ R *
R * R * R * R * R *
Tuan Vin     # Nama
passTuanVin  # Password
             # Bio
08           # No HP
             # Weton
Publik       # Jenis akun
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Tuan Bri
passTuanBri



Publik
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
1 0 1    # Matriks Pertemanan
0 1 0
1 0 1
2      # Banyak permintaan pertemanan yang disimpan
0 1 0  # Tuan Hak dengan ID 0 meminta pertemanan ke Tuan Vin dengan ID 1
2 1 1